# macOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
.env
.env
.env.local
backend/.env
backend/.env.local
*.log

# Virtual Environments
env/
venv/

# Node / Vite
node_modules/
dist/
build/
.vite/
.env.local
.env
.env.local
frontend/.env
frontend/.env.local

# React / Build
build/
coverage/

# Editor / Misc
.vscode/
.idea/
*.swp
*.bak
*.tmp

# Other
structure.txt
components.json
/coverage
/.tailwind-cache